/* screen - pedrollou95faq */

.pedrollou95faq {
  align-items: center;
  background-color: var(--cod-gray);
  display: flex;
  flex-direction: column;
  position: relative;
}

.pedrollou95faq .frame-20 {
  align-items: center;
  align-self: stretch;
  background-image: url(../img/frame-20.svg);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.52vw;
  justify-content: center;
  padding: 15.62vw 21.35vw 10.42vw;
  position: relative;
  width: 100%;
}

.pedrollou95faq .ellipse-2 {
  height: 65.57vw;
  left: calc(50.00% - 32.76vw);
  position: absolute;
  top: calc(50.00% - 30.73vw);
  width: 65.57vw;
}

.pedrollou95faq .konsultacja {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.52vw;
  justify-content: center;
  position: relative;
  width: 100%;
}

.pedrollou95faq .title {
  color: var(--concrete);
  font-family: var(--font-family-manrope);
  font-size: 4.69vw;
  font-weight: 600;
  letter-spacing: -0.09vw;
  line-height: 5.21vw;
  margin-top: -0.05vw;
  position: relative;
  text-align: center;
  width: 57.29vw;
}

.pedrollou95faq .najczciej-zadawane-pytania {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  height: 5.21vw;
  letter-spacing: -0.02vw;
  line-height: 1.88vw;
  position: relative;
  text-align: center;
  width: 57.29vw;
}

.pedrollou95faq .arrow-1 {
  border: 0.1vw solid;
  border-color: var(--white);
}

.pedrollou95faq .frame-76 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  padding: 0.0vw 0.0vw 0.0vw 0.16vw;
  position: relative;
}

.pedrollou95faq .line-8 {
  height: 0.47vw;
  margin-left: -0.21vw;
  margin-right: -0.25vw;
  position: relative;
  transform: rotate(-90.00deg);
  width: 0.83vw;
}

.pedrollou95faq .menu_2 {
  -webkit-backdrop-filter: blur(0.13vw) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(0.13vw) brightness(100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 30.73vw;
  width: 100.0vw;
}

.pedrollou95faq .group-1 {
  height: 2.03vw;
  position: relative;
  width: 8.86vw;
}

.pedrollou95faq .frame-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}

.pedrollou95faq .frame-33 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 0.05vw;
  border-color: transparent;
  border-image: linear-gradient(90deg, rgba(64, 100, 223, 1) 0%, rgba(64, 100, 223, 0) 100%) 1;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  height: 5.1vw;
  position: relative;
}

.pedrollou95faq .label {
  letter-spacing: 0.01vw;
  line-height: normal;
}

.pedrollou95faq .arrow_down {
  height: 0.33vw;
  position: relative;
  width: 0.78vw;
}

.pedrollou95faq .arrow_down-1 {
  height: 132.36%;
  left: -4.32%;
  position: absolute;
  top: -11.85%;
  width: 108.65%;
}

.pedrollou95faq .frame-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  justify-content: center;
  margin-bottom: -0.16vw;
  margin-top: -0.16vw;
  position: relative;
}

.pedrollou95faq .frame-6581 {
  align-items: center;
  align-self: stretch;
  background-color: var(--black-haze);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4.17vw;
  padding: 3.65vw 8.33vw;
  position: relative;
  width: 100%;
}

.pedrollou95faq .frame-6500 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.6vw;
  position: relative;
  width: 100%;
}

.pedrollou95faq .frame-6500-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.6vw;
  padding: 0.0vw 0.0vw 60.0vw;
  position: relative;
  width: 100%;
}

.pedrollou95faq .frame-6502 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.1vw;
  position: relative;
}

.pedrollou95faq .faq_pytanie_2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1.56vw;
  height: 5.21vw;
  padding: 0.0vw 0.0vw 40.0vw;
  position: relative;
  width: 83.33vw;
}

.pedrollou95faq .frame-6510 {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 0.1vw;
  border-color: transparent;
  border-image: linear-gradient(270deg, rgba(201, 201, 201, 1) 0%, rgba(64, 100, 223, 1) 100%) 1;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.52vw;
  margin-bottom: -2.08vw;
  padding: 1.04vw 0.0vw;
  position: relative;
  width: 100%;
}

.pedrollou95faq .frame-6496 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.pedrollou95faq .co-oznacza-okreleni {
  flex: 1;
  letter-spacing: -0.02vw;
  line-height: 1.88vw;
  position: relative;
}

.pedrollou95faq .arrow::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  background: linear-gradient(180deg, rgba(201, 201, 201, 1) 0%, rgba(64, 100, 223, 1) 100%);
  border-radius: 1.56vw;
  content: '';
  inset: 0;
  mask-composite: exclude;
  padding: 0.1vw;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.pedrollou95faq .arrow {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(64, 100, 223, 1) 100%);
  border: none;
  margin-left: -1.31e-0.31vw;
}

.pedrollou95faq .okrelenie-plug-p {
  align-self: stretch;
  letter-spacing: -0.02vw;
  line-height: 1.51vw;
  margin-bottom: -6.56vw;
  opacity: 0;
  position: relative;
}

.pedrollou95faq .okrelenie-plug-p-2 {
  margin-bottom: -23.18vw;
}

.pedrollou95faq .okrelenie-plug-p-3 {
  margin-bottom: -8.07vw;
}

.pedrollou95faq .okrelenie-plug-p-1 {
  margin-bottom: -9.58vw;
}

.pedrollou95faq .okrelenie-plug-p-4 {
  margin-bottom: -24.69vw;
}

.pedrollou95faq .okrelenie-plug-p-5 {
  margin-bottom: -5.05vw;
}

.pedrollou95faq .okrelenie-plug-p-6 {
  margin-bottom: -29.22vw;
}

.pedrollou95faq .okrelenie-plug-p-7 {
  margin-bottom: -20.16vw;
}

.pedrollou95faq .okrelenie-plug-p-8 {
  margin-bottom: -11.09vw;
}

.pedrollou95faq .okrelenie-plug-p-9 {
  margin-bottom: -14.11vw;
}

.pedrollou95faq .okrelenie-plug-p-10 {
  margin-bottom: -18.65vw;
}

.pedrollou95faq .footer_desktop {
  height: 72.66vw;
  position: relative;
  width: 100.0vw;
}

.pedrollou95faq .frame-6613 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2.6vw;
  height: 55.70%;
  left: 0;
  padding: 4.17vw 23.96vw;
  position: absolute;
  top: 0;
  width: 100%;
}

.pedrollou95faq .frame-36731 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.04vw;
  margin-left: -6.85vw;
  margin-right: -6.85vw;
  position: relative;
}

.pedrollou95faq .zapytaj-o-pomp {
  color: var(--cod-gray);
  font-family: var(--font-family-manrope);
  font-size: 3.12vw;
  font-weight: 600;
  letter-spacing: -0.09vw;
  line-height: 3.23vw;
  margin-top: -0.05vw;
  position: relative;
  text-align: center;
  width: 65.78vw;
}

.pedrollou95faq .opowiedz-nam-o-swoic {
  color: var(--cod-gray);
  font-family: var(--font-family-manrope);
  font-size: 1.15vw;
  font-weight: 500;
  letter-spacing: -0.02vw;
  line-height: 1.67vw;
  position: relative;
  text-align: center;
  width: fit-content;
}

.pedrollou95faq .frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.04vw;
  position: relative;
  width: 100%;
}

.pedrollou95faq .input-1 {
  align-self: stretch;
  height: 10.42vw;
  width: 100%;
}

.pedrollou95faq .frame-36727 {
  align-items: center;
  background-color: var(--white);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.1vw;
  position: relative;
}

.pedrollou95faq .label-2 {
  letter-spacing: 0;
  line-height: 1.04vw;
  margin-top: -0.05vw;
  white-space: nowrap;
}

.pedrollou95faq .frame-367 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 1.04vw;
  position: relative;
  width: 100%;
}

.pedrollou95faq .input {
  flex: 1;
  flex-grow: 1;
  height: 2.76vw;
}

.pedrollou95faq .label-3 {
  letter-spacing: 0;
  line-height: 1.04vw;
  margin-top: -0.05vw;
  white-space: nowrap;
}

.pedrollou95faq .frame-6589 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.05vw solid;
  border-color: var(--cod-gray-2);
  border-radius: 0.52vw;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.52vw;
  height: 2.76vw;
  justify-content: center;
  padding: 0.89vw 1.04vw;
  position: relative;
}

.pedrollou95faq .frame-6397 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  margin-bottom: -0.03vw;
  margin-top: -0.03vw;
  position: relative;
  width: 100%;
}

.pedrollou95faq .jestem {
  color: var(--cod-gray);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.04vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95faq .label-4 {
  letter-spacing: 0;
  line-height: 1.04vw;
  margin-top: -0.05vw;
  white-space: nowrap;
}

.pedrollou95faq .label-5 {
  letter-spacing: 0;
  line-height: 1.04vw;
  margin-top: -0.05vw;
  white-space: nowrap;
}

.pedrollou95faq .frame-367-1 {
  display: flex;
  width: 100%;
}

.pedrollou95faq .radio_select_2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  height: 2.6vw;
  position: relative;
}

.pedrollou95faq .group-62 {
  aspect-ratio: 1;
  border: 0.1vw solid;
  border-color: var(--celeste);
  border-radius: 0.62vw;
  height: 1.25vw;
  position: relative;
  width: 1.25vw;
}

.pedrollou95faq .x1-fazowe-230-v-50-hz {
  letter-spacing: 0;
  line-height: 1.04vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95faq .arrow_right {
  height: 0.99vw;
  margin-right: -0.06vw;
  position: relative;
  width: 1.1vw;
}

.pedrollou95faq .frame-78 {
  align-items: flex-start;
  display: flex;
  gap: 5.21vw;
  height: 44.30%;
  left: 0;
  padding: 3.65vw 8.33vw;
  position: absolute;
  top: 55.70%;
  width: 100%;
}

.pedrollou95faq .ellipse-2-1 {
  height: 32.19vw;
  left: calc(50.00% - 50.0vw);
  position: absolute;
  top: calc(50.00% - 16.09vw);
  width: 41.15vw;
}

.pedrollou95faq .frame-367-2 {
  display: inline-flex;
  flex-direction: column;
}

.pedrollou95faq .frame-36738 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  position: relative;
}

.pedrollou95faq .polska {
  letter-spacing: -0.02vw;
  line-height: 2.6vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95faq .tworzymy-przyszo {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: -0.02vw;
  line-height: 1.41vw;
  position: relative;
  width: fit-content;
}

.pedrollou95faq .frame-36742 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 3.12vw;
  position: relative;
}

.pedrollou95faq .raz-kupujesz-bez-koca-pompujesz {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: 2.08vw;
  font-weight: 600;
  letter-spacing: -0.04vw;
  line-height: 2.6vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95faq .frame-3674 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.52vw;
  justify-content: center;
  position: relative;
}

.pedrollou95faq .elektryczna-pompa-gbinowa {
  letter-spacing: -0.02vw;
  line-height: 1.25vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95faq .frame-3674-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.26vw;
  position: relative;
}

.pedrollou95faq .label_-menu_footer {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  padding: 0.1vw 0.0vw;
  position: relative;
}

.pedrollou95faq .frame-33-1 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 0.05vw;
  border-color: transparent;
  border-image: linear-gradient(90deg, rgba(64, 100, 223, 1) 0%, rgba(64, 100, 223, 0) 100%) 1;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  padding: 0.21vw 0.0vw;
  position: relative;
}

.pedrollou95faq .label-1 {
  letter-spacing: 0.01vw;
  line-height: normal;
  margin-top: -0.05vw;
}

.pedrollou95faq .na-skrty {
  letter-spacing: -0.02vw;
  line-height: 1.25vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95faq .kontakt-z-nami {
  letter-spacing: -0.02vw;
  line-height: 1.25vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95faq .frame-36746 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.pedrollou95faq .frame-36748 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  justify-content: center;
  padding: 0.31vw 0.0vw;
  position: relative;
  width: 100%;
}

.pedrollou95faq .dachowa-43-a-96-500-sochaczew {
  flex: 1;
  letter-spacing: 0.01vw;
  line-height: normal;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95faq .dobr-pomp {
  letter-spacing: -0.02vw;
  line-height: 1.25vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95faq .social_media {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  padding: 0.26vw 0.0vw;
  position: relative;
}

.pedrollou95faq .social_media-item {
  height: 1.46vw;
  position: relative;
  width: 1.46vw;
}

.pedrollou95faq .linkedin {
  align-items: center;
  display: flex;
  gap: 0.52vw;
  height: 1.46vw;
  justify-content: center;
  padding: 0.21vw;
  position: relative;
  width: 1.46vw;
}

.pedrollou95faq .subtract {
  aspect-ratio: 1;
  height: 0.94vw;
  position: relative;
  width: 0.94vw;
}

.pedrollou95faq .arrow-2 {
  align-items: center;
  border-radius: 1.56vw;
  display: flex;
  gap: 0.52vw;
  height: 3.12vw;
  justify-content: center;
  padding: 0.52vw;
  position: relative;
  transform: rotate(90.00deg);
  width: 3.12vw;
}

.pedrollou95faq .frame-367-3 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
}

.pedrollou95faq .input-2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.05vw solid;
  border-color: var(--cod-gray-2);
  border-radius: 0.52vw;
  display: flex;
  padding: 0.83vw 1.04vw;
  position: relative;
}

.pedrollou95faq .label-6 {
  position: relative;
  width: fit-content;
}

.pedrollou95faq .okrelenie-plug-p-11 {
  align-self: stretch;
  letter-spacing: -0.02vw;
  line-height: 1.51vw;
  opacity: 0;
  position: relative;
}

.pedrollou95faq .star-3 {
  letter-spacing: 0;
  line-height: 1.04vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
