/* screen - pop-up-send */

.pop-up-send {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3.35vw;
  position: relative;
}

.pop-up-send .frame-36834 {
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  width: 100%;
}

.pop-up-send .frame-36832 {
  align-self: stretch;
  background-color: var(--black-haze);
  border-radius: 1.12vw;
  flex: 0 0 auto;
  gap: 8.94vw;
  padding: 11.17vw 14.53vw;
  width: 100%;
}

.pop-up-send .frame-36731 {
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 3.35vw;
}

.pop-up-send .twoja-wiadomo-jes {
  align-self: stretch;
  color: transparent;
  font-family: var(--font-family-manrope);
  font-size: 5.59vw;
  font-weight: 600;
  letter-spacing: -0.11vw;
  line-height: 5.81vw;
  margin-top: -0.11vw;
  position: relative;
  text-align: center;
}

.pop-up-send .span0 {
  letter-spacing: -0.06vw;
}

.pop-up-send .span1 {
  color: var(--royal-blue);
  letter-spacing: -0.06vw;
}

.pop-up-send .frame-36879 {
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4.47vw;
  width: 100%;
}

.pop-up-send .frame-36882 {
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.23vw;
  width: 100%;
}

.pop-up-send .cieszymy-si-e-moemy-pomc {
  align-self: stretch;
  color: var(--cod-gray);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  letter-spacing: -0.06vw;
  line-height: 3.8vw;
  margin-top: -0.11vw;
  position: relative;
  text-align: center;
}

.pop-up-send .nasz-ekspert-ju-ana {
  align-self: stretch;
  color: var(--gravel);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: -0.04vw;
  line-height: 2.46vw;
  position: relative;
  text-align: center;
}

.pop-up-send .tymczasem-rnorodne {
  align-self: stretch;
  color: transparent;
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: -0.04vw;
  line-height: 3.24vw;
  position: relative;
  text-align: center;
}

.pop-up-send .span1-1 {
  color: var(--royal-blue);
  letter-spacing: -0.01vw;
  text-decoration: underline;
}

.pop-up-send .close_on_white {
  aspect-ratio: 1;
  height: 5.59vw;
  position: absolute;
  right: 3.35vw;
  top: 3.35vw;
  width: 5.59vw;
}

.pop-up-send .frame {
  align-items: flex-start;
  display: flex;
  position: relative;
}
