<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../css/globals.css" />
    <link rel="stylesheet" type="text/css" href="../css/pedrollou95dystrybutor-all-breakpoints.css" />
  </head>
  <body style="margin: 0; background: #0a0a0a">
    <!-- Podgląd partials ze stylami: otwórz w przeglądarce (np. z file:// lub localhost). -->
    <!-- Żeby dopracować wygląd – edytuj pełną stronę (np. dystrybutor.html), potem zaktualizujemy partials. -->
    <div class="page page--dystrybutor screen">
      <div class="frame-3673325">
        <!-- HEADER (z partials/header.html) -->
        <div class="menu_2-2">
          <div class="frame-27">
            <img class="group-1-4" src="../img/group-1-10@2x.png" alt="Group 1" />
            <div class="frame-2-1">
              <div class="frame-6-7 frame-6">
                <div class="menu-hover">
                  <div class="frame-33-2 frame-33">
                    <div class="elektryczna-pompa-gbinowa-4-sr-s geist-medium-white-16px">Elektryczna pompa głębinowa 4SR-S®</div>
                    <div class="arrow_down"><img class="arrow_down-1" src="../img/arrow-down-7.svg" alt="Arrow_down" /></div>
                  </div>
                </div>
                <div class="menu-hover">
                  <div class="frame-33-2 frame-33">
                    <div class="oferta-dla-partnerw geist-medium-white-16px">Oferta dla partnerów</div>
                    <div class="arrow_down"><img class="arrow_down-1" src="../img/arrow-down-7.svg" alt="Arrow_down" /></div>
                  </div>
                </div>
                <div class="menu-hover">
                  <div class="frame-33-2 frame-33">
                    <div class="o-nas geist-medium-white-16px">O nas</div>
                    <div class="arrow_down"><img class="arrow_down-1" src="../img/arrow-down-7.svg" alt="Arrow_down" /></div>
                  </div>
                </div>
                <div class="menu-hover">
                  <div class="frame-33-4 frame-33"><div class="kontakt geist-medium-white-16px">Kontakt</div></div>
                </div>
                <div class="frame-25"></div>
              </div>
              <div class="frame-5-1">
                <div class="btn btn--cta">
                  <div class="frame-1-1">
                    <img class="vector-4" src="../img/vector-13.svg" alt="Vector" />
                    <p class="phone geist-medium-white-17px">+48 46 4444 11 2</p>
                  </div>
                </div>
                <div class="dobierz_pompe">
                  <div class="frame-4-1">
                    <div class="group-3">
                      <img class="vector-5" src="../img/vector-30.svg" alt="Vector" />
                      <img class="vector-6" src="../img/vector-15.svg" alt="Vector" />
                    </div>
                  </div>
                  <div class="dobierz-pomp geist-medium-white-17px">Dobierz pompę</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="min-height: 50vh; display: flex; align-items: center; justify-content: center; color: #666;">
          [ Treść strony – dopracowuj header/footer na pełnej stronie dystrybutor.html ]
        </div>
      </div>
      <!-- FOOTER (z partials/footer.html) – skrócona wersja dla podglądu -->
      <div class="frame-78-2">
        <img class="ellipse-2-12" src="../img/ellipse-2-14.svg" alt="Ellipse 2" />
        <div class="frame-367-7 frame-367">
          <div class="frame-36750">
            <div class="frame-36738-2">
              <img class="group-1-6" src="../img/group-1-18@2x.png" alt="Group 1" />
              <div class="polska-2 manrope-semi-bold-white-20px">Polska</div>
            </div>
            <p class="tworzymy-przyszo-2 manrope-medium-white-16px">
              Tworzymy przyszłość systemów wodnych, oferując niezawodne pompy głębinowe i kompleksowe wsparcie techniczne na terenie całej Polski.
            </p>
          </div>
          <div class="frame-36749">
            <img class="frame-36737" src="../img/frame-36737-5.svg" alt="Frame 36737" />
            <div class="btn btn--primary">
              <div class="strefa-partnera-2 geist-medium-white-17px">Strefa partnera</div>
              <img class="arrow_right-3" src="../img/arrow-right-27.svg" alt="Arrow_right" />
            </div>
          </div>
        </div>
        <div class="frame-36742-2">
          <p class="raz-kupujesz-bez-koca-pompujesz-2 manrope-semi-bold-white-30px">Raz kupujesz, bez końca pompujesz!</p>
          <div class="frame-367-6 frame-367">
            <div class="frame-11">
              <div class="elektryczna-pompa-gbinowa-2 manrope-semi-bold-silver-chalice-14px">Elektryczna pompa głębinowa</div>
              <div class="frame-3674-3">
                <article class="label_-menu_footer-2"><div class="frame-33-3 frame-33"><div class="label-6 label geist-medium-white-15px">Szybki przegląd pompy 4SR-S®</div></div></article>
                <article class="label_-menu_footer-2"><div class="frame-33-3 frame-33"><div class="label-6 label geist-medium-white-15px">O nas</div></div></article>
                <article class="label_-menu_footer-2"><div class="frame-33-3 frame-33"><div class="label-6 label geist-medium-white-15px">Kontakt</div></div></article>
              </div>
            </div>
            <div class="frame-367-7 frame-367">
              <div class="frame-11">
                <div class="kontakt-z-nami-2 manrope-semi-bold-silver-chalice-14px">Kontakt z nami</div>
                <div class="frame-36746-1">
                  <div class="label_-menu_footer-2"><div class="frame-33-3 frame-33"><p class="label-6 label geist-medium-white-15px">Infolinia: +48 46 4444 11 2</p></div></div>
                  <div class="label_-menu_footer-2"><div class="frame-33-3 frame-33"><div class="label-6 label geist-medium-white-15px">biuro@pedrollopolska.pl</div></div></div>
                </div>
              </div>
              <div class="social_media-2">
                <img class="social_media-item-2" src="../img/instagram-4.svg" alt="Instagram" />
                <img class="social_media-item-2" src="../img/facebook-4.svg" alt="Facebook" />
                <img class="social_media-item-2" src="../img/youtube-4.svg" alt="Youtube" />
              </div>
              <img class="x2025-pedrollo-polityka-prywatnoci-2" src="../img/--2025-pedrollo--polityka-prywatno-ci-3.png" alt="2025 Pedrollo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
