/* screen - pedrollou95blogu95wpis */

.pedrollou95blogu95wpis {
  align-items: center;
  background-color: var(--cod-gray);
  display: flex;
  flex-direction: column;
  position: relative;
}

.pedrollou95blogu95wpis .frame-20 {
  align-items: center;
  align-self: stretch;
  background-image: url(../img/frame-20-1.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 0.52vw;
  height: 40.62vw;
  justify-content: center;
  padding: 15.62vw 21.35vw 10.42vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .ellipse-2 {
  height: 65.57vw;
  left: calc(50.00% - 32.76vw);
  position: absolute;
  top: calc(50.00% - 30.73vw);
  width: 65.57vw;
}

.pedrollou95blogu95wpis .konsultacja {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.52vw;
  justify-content: center;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .dobry-tytu-wietnej-treci {
  letter-spacing: -0.09vw;
  line-height: 5.21vw;
  margin-top: -0.05vw;
  position: relative;
  text-align: center;
  width: 57.29vw;
}

.pedrollou95blogu95wpis .przewi-w-d-aby-p {
  height: 5.21vw;
  letter-spacing: -0.02vw;
  line-height: 1.88vw;
  position: relative;
  text-align: center;
  width: 57.29vw;
}

.pedrollou95blogu95wpis .span {
  letter-spacing: -0.01vw;
}

.pedrollou95blogu95wpis .arrow {
  align-items: center;
  border: 0.1vw solid;
  border-color: var(--white);
  border-radius: 1.56vw;
  display: flex;
  gap: 0.52vw;
  height: 3.12vw;
  justify-content: center;
  padding: 0.52vw;
  position: relative;
  transform: rotate(90.00deg);
  width: 3.12vw;
}

.pedrollou95blogu95wpis .frame-76 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  padding: 0.0vw 0.0vw 0.0vw 0.16vw;
  position: relative;
}

.pedrollou95blogu95wpis .line-8 {
  height: 0.47vw;
  margin-left: -0.21vw;
  margin-right: -0.25vw;
  position: relative;
  transform: rotate(-90.00deg);
  width: 0.83vw;
}

.pedrollou95blogu95wpis .menu_2 {
  -webkit-backdrop-filter: blur(0.13vw) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(0.13vw) brightness(100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100.0vw;
}

.pedrollou95blogu95wpis .frame-27 {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 0.05vw;
  border-color: var(--white-3);
  display: flex;
  gap: 5.73vw;
  height: 5.21vw;
  padding: 0.0vw 40.0vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .group-1 {
  background-image: url(../img/group-1@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 2.03vw;
  position: relative;
  width: 8.86vw;
}

.pedrollou95blogu95wpis .frame-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}

.pedrollou95blogu95wpis .frame-6 {
  align-items: center;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 3.12vw;
  position: relative;
}

.pedrollou95blogu95wpis .menu-hover {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  height: 5.21vw;
  position: relative;
}

.pedrollou95blogu95wpis .frame-33 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 0.05vw;
  border-color: transparent;
  border-image: linear-gradient(90deg, rgba(64, 100, 223, 1) 0%, rgba(64, 100, 223, 0) 100%) 1;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  height: 5.1vw;
  position: relative;
}

.pedrollou95blogu95wpis .label {
  letter-spacing: 0.01vw;
  line-height: normal;
}

.pedrollou95blogu95wpis .arrow_down {
  height: 0.33vw;
  position: relative;
  width: 0.78vw;
}

.pedrollou95blogu95wpis .arrow_down-1 {
  height: 132.36%;
  left: -4.32%;
  position: absolute;
  top: -11.85%;
  width: 108.65%;
}

.pedrollou95blogu95wpis .frame-25 {
  height: 5.21vw;
  position: relative;
  width: 3.02vw;
}

.pedrollou95blogu95wpis .frame-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 3.65vw;
  position: relative;
}

.pedrollou95blogu95wpis .call_button::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  background: linear-gradient(90deg, rgba(64, 100, 223, 1) 0%, rgba(55, 55, 55, 1) 100%);
  border-radius: 1.56vw;
  content: '';
  inset: 0;
  mask-composite: exclude;
  padding: 0.1vw;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.pedrollou95blogu95wpis .call_button {
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  border: none;
  border-radius: 1.56vw;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.52vw;
  height: 2.71vw;
  justify-content: center;
  padding: 0.73vw 1.35vw;
  position: relative;
}

.pedrollou95blogu95wpis .frame-1-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  justify-content: center;
  margin-bottom: -0.16vw;
  margin-top: -0.16vw;
  position: relative;
}

.pedrollou95blogu95wpis .vector-2 {
  aspect-ratio: 0.61;
  height: 1.56vw;
  position: relative;
  width: 0.95vw;
}

.pedrollou95blogu95wpis .phone {
  letter-spacing: 0.01vw;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.pedrollou95blogu95wpis .dobierz_pompe {
  align-items: center;
  background-color: var(--royal-blue);
  border-radius: 1.56vw;
  display: flex;
  gap: 1.04vw;
  height: 2.71vw;
  padding: 0.73vw 3.65vw 0.73vw 1.35vw;
  position: relative;
  width: 12.19vw;
}

.pedrollou95blogu95wpis .frame-4 {
  align-items: center;
  background-color: var(--concrete);
  border-radius: 1.56vw;
  display: flex;
  flex-direction: column;
  gap: 0.52vw;
  height: 2.5vw;
  justify-content: center;
  left: 9.58vw;
  padding: 0.52vw 0.68vw;
  position: absolute;
  top: 0.1vw;
  width: 2.5vw;
}

.pedrollou95blogu95wpis .group-3 {
  height: 0.62vw;
  position: relative;
  width: 1.0vw;
}

.pedrollou95blogu95wpis .vector {
  height: 110.84%;
  left: 68.77%;
  position: absolute;
  top: -5.42%;
  width: 37.42%;
}

.pedrollou95blogu95wpis .vector-1 {
  height: 16.67%;
  left: -5.19%;
  position: absolute;
  top: 41.67%;
  width: 105.19%;
}

.pedrollou95blogu95wpis .dobierz-pomp {
  letter-spacing: -0.02vw;
  line-height: normal;
  margin-top: -0.08vw;
  position: relative;
  width: fit-content;
}

.pedrollou95blogu95wpis .frame-6581 {
  align-items: center;
  align-self: stretch;
  background-color: var(--black-haze);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4.17vw;
  padding: 3.65vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .frame-6598 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5.21vw;
  justify-content: center;
  position: relative;
  width: 46.88vw;
}

.pedrollou95blogu95wpis .frame-36868 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 0.47vw;
  position: relative;
  width: 10.45vw;
}

.pedrollou95blogu95wpis .frame-36867 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.47vw;
  position: relative;
}

.pedrollou95blogu95wpis .vector-3 {
  aspect-ratio: 1.01;
  height: 2.08vw;
  margin-left: -0.01vw;
  margin-right: -0.01vw;
  position: relative;
  width: 2.08vw;
}

.pedrollou95blogu95wpis .frame-36 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.pedrollou95blogu95wpis .autor-tekstu {
  align-self: stretch;
  color: var(--cod-gray);
  font-family: var(--font-family-manrope);
  font-size: 1.35vw;
  font-weight: 600;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  margin-top: -0.05vw;
  position: relative;
  text-align: center;
}

.pedrollou95blogu95wpis .stanowisko-autora {
  align-self: stretch;
  color: #0a0a0a99;
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: -0.02vw;
  line-height: 1.51vw;
  position: relative;
  text-align: center;
}

.pedrollou95blogu95wpis .frame-6606 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4.17vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .frame-65-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.08vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.56vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .frame-36870 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.52vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .streszczenie {
  align-self: stretch;
  height: 0.86vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .tak-bdzie-wyglda {
  align-self: stretch;
  letter-spacing: -0.05vw;
  line-height: 3.12vw;
  position: relative;
}

.pedrollou95blogu95wpis .w-internecie-kady-z {
  align-self: stretch;
  color: var(--cod-gray);
  font-family: var(--font-family-manrope);
  font-size: 1.46vw;
  font-weight: 500;
  letter-spacing: -0.03vw;
  line-height: 2.14vw;
  position: relative;
}

.pedrollou95blogu95wpis .frame-36843 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 0.05vw solid;
  border-color: var(--pumice);
  border-radius: 0.52vw;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.56vw;
  padding: 3.12vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .spis-treci {
  align-self: stretch;
  letter-spacing: -0.04vw;
  line-height: 2.6vw;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95blogu95wpis .frame-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.04vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .tak-bdzie-wyglda-1 {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95blogu95wpis .kolejny-link-do-wanej-sekcji-artykuu {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  position: relative;
}

.pedrollou95blogu95wpis .jeszcze-jeden-link-do-sekcji {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  position: relative;
}

.pedrollou95blogu95wpis .frame-3687 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.56vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .tak-wyglda-nagwek {
  align-self: stretch;
  letter-spacing: -0.06vw;
  line-height: 3.65vw;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95blogu95wpis .pocztek-tekstu-wa {
  align-self: stretch;
  letter-spacing: -0.02vw;
  line-height: 1.88vw;
  position: relative;
}

.pedrollou95blogu95wpis .frame-36844 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 0.05vw solid;
  border-color: var(--pumice);
  border-radius: 0.52vw;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.56vw;
  padding: 4.17vw 3.65vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .w-tej-sekcji-moesz {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 2.08vw;
  margin-top: -0.05vw;
  position: relative;
  text-align: center;
}

.pedrollou95blogu95wpis .flex-container-192010960 {
  height: 12.29vw;
}

.pedrollou95blogu95wpis .rectangle-1106 {
  align-self: stretch;
  aspect-ratio: 1.78;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .flex-container-192010964 {
  height: 10.42vw;
}

.pedrollou95blogu95wpis .frame-36873 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 2.08vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .vector-4 {
  height: 6.93vw;
  position: relative;
  width: 7.14vw;
}

.pedrollou95blogu95wpis .w-tej-sekcji-moesz-1 {
  flex: 1;
  letter-spacing: -0.03vw;
  line-height: 2.08vw;
  position: relative;
}

.pedrollou95blogu95wpis .w-finale-dobrze-wygl {
  align-self: stretch;
  letter-spacing: -0.02vw;
  line-height: 1.88vw;
  position: relative;
}

.pedrollou95blogu95wpis .w-finale-dobrze-wygl-1 {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 2.08vw;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95blogu95wpis .a-przejrzysty-wygl {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95blogu95wpis .b-przycigajcy-sk {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  position: relative;
}

.pedrollou95blogu95wpis .c-ergonomiczny-at {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  position: relative;
}

.pedrollou95blogu95wpis .frame-36875 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.6vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .oto-sekcja-w-ktrej {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 2.08vw;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95blogu95wpis .group-630 {
  align-self: stretch;
  height: 4.83vw;
  margin-right: -0.1vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .przykadowe-liczba-1 {
  left: 0;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  position: absolute;
  top: 0;
  width: 46.88vw;
}

.pedrollou95blogu95wpis .group-6299 {
  display: flex;
  height: 1.88vw;
  left: 0;
  position: absolute;
  top: 2.92vw;
  width: 46.88vw;
}

.pedrollou95blogu95wpis .frame-6302 {
  align-items: flex-start;
  border: 0.31vw solid;
  border-color: var(--white);
  border-radius: 2.08vw;
  box-shadow: 0.33vw 0.33vw 0.67vw #c7c7c74c;
  display: flex;
  flex-direction: column;
  gap: 0.52vw;
  height: 2.52vw;
  margin-left: -0.31vw;
  margin-top: -0.31vw;
  position: relative;
  width: 47.5vw;
}

.pedrollou95blogu95wpis .group-6301 {
  background-color: #eaeaea;
  border-radius: 2.08vw;
  height: 1.88vw;
  position: relative;
  width: 46.88vw;
}

.pedrollou95blogu95wpis .divchart-fill {
  background-color: var(--royal-blue);
  border-radius: 2.08vw;
  height: 100%;
  width: calc(100% - 39.17vw);
}

.pedrollou95blogu95wpis .wynik-numer-2 {
  left: 0;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  position: absolute;
  top: 0;
  width: 46.88vw;
}

.pedrollou95blogu95wpis .frame-6302-1 {
  align-items: flex-start;
  border: 0.31vw solid;
  border-color: var(--white);
  border-radius: 2.08vw;
  box-shadow: 0.33vw 0.33vw 0.67vw #c7c7c74c;
  display: flex;
  flex-direction: column;
  gap: 0.52vw;
  left: -0.31vw;
  position: absolute;
  top: 2.6vw;
  width: 47.5vw;
}

.pedrollou95blogu95wpis .adne-zdanie-nie-pow {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 2.08vw;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95blogu95wpis .idealny-ukad-dla-sieci-brzmi {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95blogu95wpis .jedno-zadanie-jedna-myl {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  position: relative;
}

.pedrollou95blogu95wpis .jedna-myl-powinna {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 2.08vw;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95blogu95wpis .zawsze-uywaj-proste {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 2.08vw;
  position: relative;
}

.pedrollou95blogu95wpis .strona-czynna-jest {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95blogu95wpis .czas-teraniejszy {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  position: relative;
}

.pedrollou95blogu95wpis .twierdzenia-pozytywn {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  position: relative;
}

.pedrollou95blogu95wpis .upewnij-si-e-kad {
  align-self: stretch;
  letter-spacing: -0.03vw;
  line-height: 1.61vw;
  position: relative;
}

.pedrollou95blogu95wpis .wskaniki-ktre-naj {
  align-self: stretch;
  letter-spacing: -0.06vw;
  line-height: 3.65vw;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95blogu95wpis .flex-container-192810776 {
  height: 13.33vw;
}

.pedrollou95blogu95wpis .text2-192810776 {
  align-self: stretch;
  letter-spacing: -0.02vw;
  line-height: 1.88vw;
  position: relative;
}

.pedrollou95blogu95wpis .frame-36860 {
  align-items: center;
  align-self: stretch;
  background-color: var(--black-haze);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.52vw;
  padding: 3.12vw 0.0vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .frame-6604 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 3.12vw;
  position: relative;
  width: 60.73vw;
}

.pedrollou95blogu95wpis ._case {
  align-items: center;
  background-color: var(--white);
  border: 0.05vw solid;
  border-color: var(--pumice);
  border-radius: 0.52vw;
  display: flex;
  gap: 2.08vw;
  height: 11.25vw;
  padding: 2.08vw 2.6vw;
  position: relative;
  width: 28.8vw;
}

.pedrollou95blogu95wpis .arrow_stroke_on_white_blue {
  height: 3.12vw;
  position: relative;
  width: 3.12vw;
}

.pedrollou95blogu95wpis .frame-6608 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.pedrollou95blogu95wpis .frame-65 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .e-use-case {
  align-self: stretch;
  color: var(--royal-blue);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: -0.02vw;
  line-height: 1.88vw;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95blogu95wpis .jak-pompa-pedrollo-obnia {
  align-self: stretch;
  color: var(--cod-gray);
  font-family: var(--font-family-manrope);
  font-size: 1.93vw;
  font-weight: 600;
  letter-spacing: -0.04vw;
  line-height: 2.45vw;
  position: relative;
}

.pedrollou95blogu95wpis .dobry-tytu-wietnej-treci-1 {
  align-self: stretch;
  color: var(--cod-gray);
  font-family: var(--font-family-manrope);
  font-size: 1.93vw;
  font-weight: 600;
  letter-spacing: -0.04vw;
  line-height: 2.45vw;
  position: relative;
}

.pedrollou95blogu95wpis .footer_desktop {
  height: 72.66vw;
  position: relative;
  width: 100.0vw;
}

.pedrollou95blogu95wpis .frame-6613 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2.6vw;
  height: 55.70%;
  left: 0;
  padding: 4.17vw 23.96vw;
  position: absolute;
  top: 0;
  width: 100%;
}

.pedrollou95blogu95wpis .frame-36731 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.04vw;
  margin-left: -6.85vw;
  margin-right: -6.85vw;
  position: relative;
}

.pedrollou95blogu95wpis .zapytaj-o-pomp {
  letter-spacing: -0.09vw;
  line-height: 3.23vw;
  margin-top: -0.05vw;
  position: relative;
  text-align: center;
  width: 65.78vw;
}

.pedrollou95blogu95wpis .opowiedz-nam-o-swoic {
  letter-spacing: -0.02vw;
  line-height: 1.67vw;
  position: relative;
  text-align: center;
  width: fit-content;
}

.pedrollou95blogu95wpis .input-1 {
  align-self: stretch;
  height: 10.42vw;
  width: 100%;
}

.pedrollou95blogu95wpis .frame-36727 {
  align-items: center;
  background-color: var(--white);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.1vw;
  position: relative;
}

.pedrollou95blogu95wpis .label-2 {
  letter-spacing: 0;
  line-height: 1.04vw;
  margin-top: -0.05vw;
  white-space: nowrap;
}

.pedrollou95blogu95wpis .frame-367 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 1.04vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .input {
  flex: 1;
  flex-grow: 1;
  height: 2.76vw;
}

.pedrollou95blogu95wpis .label-3 {
  letter-spacing: 0;
  line-height: 1.04vw;
  margin-top: -0.05vw;
  white-space: nowrap;
}

.pedrollou95blogu95wpis .frame-6589 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.05vw solid;
  border-color: var(--cod-gray-3);
  border-radius: 0.52vw;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.52vw;
  height: 2.76vw;
  justify-content: center;
  padding: 0.89vw 1.04vw;
  position: relative;
}

.pedrollou95blogu95wpis .frame-6397 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  margin-bottom: -0.03vw;
  margin-top: -0.03vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .jestem {
  letter-spacing: 0;
  line-height: 1.04vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95blogu95wpis .label-4 {
  letter-spacing: 0;
  line-height: 1.04vw;
  margin-top: -0.05vw;
  white-space: nowrap;
}

.pedrollou95blogu95wpis .label-5 {
  letter-spacing: 0;
  line-height: 1.04vw;
  margin-top: -0.05vw;
  white-space: nowrap;
}

.pedrollou95blogu95wpis .frame-367-1 {
  display: flex;
  width: 100%;
}

.pedrollou95blogu95wpis .radio_select_2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  height: 2.6vw;
  position: relative;
}

.pedrollou95blogu95wpis .group-62 {
  aspect-ratio: 1;
  border: 0.1vw solid;
  border-color: var(--celeste);
  border-radius: 0.62vw;
  height: 1.25vw;
  position: relative;
  width: 1.25vw;
}

.pedrollou95blogu95wpis .x1-fazowe-230-v-50-hz {
  letter-spacing: 0;
  line-height: 1.04vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95blogu95wpis .krok {
  align-items: center;
  background: linear-gradient(90deg, rgba(10, 10, 10, 1) 0%, rgba(64, 100, 223, 1) 100%);
  border-radius: 1.56vw;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  padding: 0.78vw 1.35vw;
  position: relative;
}

.pedrollou95blogu95wpis .dalej {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.1vw;
  position: relative;
  width: fit-content;
}

.pedrollou95blogu95wpis .arrow_right {
  height: 0.99vw;
  margin-right: -0.06vw;
  position: relative;
  width: 1.1vw;
}

.pedrollou95blogu95wpis .frame-78 {
  align-items: flex-start;
  display: flex;
  gap: 5.21vw;
  height: 44.30%;
  left: 0;
  padding: 3.65vw 8.33vw;
  position: absolute;
  top: 55.70%;
  width: 100%;
}

.pedrollou95blogu95wpis .ellipse-2-1 {
  height: 32.19vw;
  left: calc(50.00% - 50.0vw);
  position: absolute;
  top: calc(50.00% - 16.09vw);
  width: 41.15vw;
}

.pedrollou95blogu95wpis .frame-367-2 {
  display: inline-flex;
  flex-direction: column;
}

.pedrollou95blogu95wpis .frame-36750 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.6vw;
  position: relative;
}

.pedrollou95blogu95wpis .frame-36738 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  position: relative;
}

.pedrollou95blogu95wpis .group-1-1 {
  height: 2.03vw;
  position: relative;
  width: 8.86vw;
}

.pedrollou95blogu95wpis .polska {
  letter-spacing: -0.02vw;
  line-height: 2.6vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95blogu95wpis .tworzymy-przyszo {
  letter-spacing: -0.02vw;
  line-height: 1.41vw;
  position: relative;
  width: fit-content;
}

.pedrollou95blogu95wpis .frame-36749 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.56vw;
  position: relative;
}

.pedrollou95blogu95wpis .frame-36742 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 3.12vw;
  position: relative;
}

.pedrollou95blogu95wpis .raz-kupujesz-bez-koca-pompujesz {
  letter-spacing: -0.04vw;
  line-height: 2.6vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95blogu95wpis .frame-36777 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.04vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .frame-3674 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.52vw;
  justify-content: center;
  position: relative;
}

.pedrollou95blogu95wpis .elektryczna-pompa-gbinowa {
  letter-spacing: -0.02vw;
  line-height: 1.25vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95blogu95wpis .frame-3674-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.26vw;
  position: relative;
}

.pedrollou95blogu95wpis .label_-menu_footer {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  padding: 0.1vw 0.0vw;
  position: relative;
}

.pedrollou95blogu95wpis .frame-33-1 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 0.05vw;
  border-color: transparent;
  border-image: linear-gradient(90deg, rgba(64, 100, 223, 1) 0%, rgba(64, 100, 223, 0) 100%) 1;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  padding: 0.21vw 0.0vw;
  position: relative;
}

.pedrollou95blogu95wpis .label-1 {
  letter-spacing: 0.01vw;
  line-height: normal;
  margin-top: -0.05vw;
}

.pedrollou95blogu95wpis .na-skrty {
  letter-spacing: -0.02vw;
  line-height: 1.25vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95blogu95wpis .label_-menu_footer-1 {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  padding: 0.1vw 0.0vw;
  position: relative;
}

.pedrollou95blogu95wpis .kontakt-z-nami {
  letter-spacing: -0.02vw;
  line-height: 1.25vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95blogu95wpis .frame-36748 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  justify-content: center;
  padding: 0.31vw 0.0vw;
  position: relative;
  width: 100%;
}

.pedrollou95blogu95wpis .dachowa-43-a-96-500-sochaczew {
  flex: 1;
  letter-spacing: 0.01vw;
  line-height: normal;
  margin-top: -0.05vw;
  position: relative;
}

.pedrollou95blogu95wpis .dobr-pomp {
  letter-spacing: -0.02vw;
  line-height: 1.25vw;
  margin-top: -0.05vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pedrollou95blogu95wpis .social_media {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.52vw;
  padding: 0.26vw 0.0vw;
  position: relative;
}

.pedrollou95blogu95wpis .social_media-item {
  height: 1.46vw;
  position: relative;
  width: 1.46vw;
}

.pedrollou95blogu95wpis .linkedin {
  align-items: center;
  display: flex;
  gap: 0.52vw;
  height: 1.46vw;
  justify-content: center;
  padding: 0.21vw;
  position: relative;
  width: 1.46vw;
}

.pedrollou95blogu95wpis .subtract {
  aspect-ratio: 1;
  height: 0.94vw;
  position: relative;
  width: 0.94vw;
}

.pedrollou95blogu95wpis .span0 {
  letter-spacing: -0.0vw;
}

.pedrollou95blogu95wpis .frame-367-3 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
}

.pedrollou95blogu95wpis .input-2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.05vw solid;
  border-color: var(--cod-gray-3);
  border-radius: 0.52vw;
  display: flex;
  padding: 0.83vw 1.04vw;
  position: relative;
}

.pedrollou95blogu95wpis .label-6 {
  position: relative;
  width: fit-content;
}

.pedrollou95blogu95wpis .text0 {
  align-self: stretch;
  letter-spacing: -0.02vw;
  line-height: 1.88vw;
  position: relative;
}

.pedrollou95blogu95wpis .text1 {
  align-self: stretch;
  letter-spacing: -0.02vw;
  line-height: 1.88vw;
  position: relative;
}
